body {
    font-family: Courier, monospace;
    text-align: center;
    background: linear-gradient(#FFB5DC, #FF219C);
    color: White;
}

#game-area {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    border: 2px solid white;
    position: relative;
}

#box {
    width: 40px;
    height: 40px;
    background: red;
    position: absolute;
    cursor: pointer;
}
